.container {
  width: 1440px;
  margin: auto;
}

@media(max-width: 1200px) {
  .container {
    width: 975px;
  }
}

@media (max-width: 975px) {
  .container {
    width: 575px;
  }
}

@media (max-width: 575px) {
  .container {
    width: 100%;
  }
}